[MASTER]
# Use multiple processes to speed up Pylint.
jobs=1

# List of plugins (as comma separated values of python modules names) to load
extension-pkg-whitelist=

# Allow loading of arbitrary C extensions.
unsafe-load-any-extension=no

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    import-error,
    no-member

[REPORTS]
# Set the output format
output-format=text

# Tells whether to display a full report or only the messages
reports=no

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

# String used as indentation unit.
indent-string='    '

[DESIGN]
# Maximum number of arguments for function / method
max-args=10

# Maximum number of locals for function / method body
max-locals=20

# Maximum number of return / yield for function / method body
max-returns=6

# Maximum number of branch for function / method body
max-branches=15

# Maximum number of statements in function / method body
max-statements=50

[IMPORTS]
# Allow wildcard imports from modules that define __all__
allow-wildcard-with-all=no